[submodule "salt-cloud-store"]
	path = docker/saltstore
	url = https://github.com/Paulche/salt-cloud-store.git
[submodule "salt/formula/docker-formula"]
	path = salt/formula/docker-formula
	url = https://github.com/saltstack-formulas/docker-formula.git
[submodule "salt/formula/haproxy-formula"]
	path = salt/formula/haproxy-formula
	url = https://github.com/saltstack-formulas/haproxy-formula.git
